{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
        @keyframes i2g-inbox-spin {
            to {
                transform: rotate(360deg);
            }
        }
        .i2g-inbox-refresh--loading .i2g-inbox-refresh-icon {
            animation: i2g-inbox-spin 0.75s linear infinite;
            display: inline-block;
        }
        .i2g-inbox-refresh--loading {
            opacity: 0.65;
        }
    </style>
    <script defer src="{% static 'mail/js/inbox_refresh.js' %}"></script>
{% endblock %}

{% block content %}
<div id="inbox-all-dynamic" class="w-full max-w-none" data-fragment-url="{{ fragment_url }}">
    {% include "admin/mail/inbox/_inbox_full_body.html" %}
</div>
{% endblock %}
