{% extends "layout.html" %}
{% from "renderhelper.html" import render_field %}
 
{% block content %}
  <h2>Fill out your information below</h2>
  <form action="{{ url_for('registration.register') }}" method=post>
      {{ form.hidden_tag }}
  
      {{ render_field(form.first_name) }}
      {{ render_field(form.last_name) }}
      {{ render_field(form.primary_email) }}
      {{ render_field(form.confirm_primary) }}
      {{ render_field(form.secondary_email) }}
      {{ render_field(form.confirm_secondary) }}
    <br>
    {{ form.submit }}
    <br>
  </form>
{% endblock %}