blinker
click
dnspython
email-validator
Flask
Flask-Admin
Flask-Login
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug
WTForms
gspread
Flask_wtf
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
waitress
yagmail