{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <div class="flex flex-row items-center gap-2">
        <form method="post" action="{{ publish_all_url }}" class="inline">
            {% csrf_token %}
            <button type="submit"
                    class="bg-green-600 hover:bg-green-700 flex items-center gap-2 justify-center rounded-default px-4 py-2 text-white text-sm font-medium transition-colors"
                    title="Publish All Semesters">
                <span class="material-symbols-outlined text-white !text-[18px]">publish</span>
                Publish All
            </button>
        </form>
    </div>
    {{ block.super }}
{% endblock %}
