{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <div class="i2g-admin-object-tools">
        <a href="{{ import_csv_url }}"
           class="i2g-admin-action"
           title="Import Projects from CSV">
            <span class="material-symbols-outlined">upload_file</span>
            Import CSV
        </a>
        <form method="post" action="{{ publish_all_url }}">
            {% csrf_token %}
            <button type="submit"
                    class="i2g-admin-action i2g-admin-action--primary"
                    title="Publish All Semesters">
                <span class="material-symbols-outlined">publish</span>
                Publish All
            </button>
        </form>
        {{ block.super }}
    </div>
{% endblock %}
