{% extends "membership/layout.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .w3-theme-UCBlue {
    color:#fff !important;background-color:#002856 !important}
    .w3-theme-UCGold {
    color:#fff !important;background-color:#DAA900 !important}
</style> 

<div class="w3-container w3-theme-UCBlue">
    <p style="font-size:120%; color:#DAA900;">Sign up as a Member of Innovate to Grow!.</p>
    <p style="font-size:120%; color:#DAA900;">We have built an innovative "double email" membership system: you can provide a secondary 
        email address you own in case your first one no longer works (e.g. you change job).</p>
    <p style = "color:#DAA900">You can select to receive invitations and newsletters at either, both, or none of the two email addresses.</p>
</div>
{% endblock %}