{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    <div class="flex flex-row items-center gap-3">
        {% if show_import_buttons %}
            <a
                    href="{% url 'admin:pages_cmspage_import' %}"
                    class="whitespace-nowrap rounded-default border border-base-300 bg-white px-3 py-2 text-sm font-medium text-font-default-light shadow-xs transition hover:border-primary-500 hover:text-primary-700 dark:border-base-700 dark:bg-base-900 dark:text-font-default-dark"
            >
                Import JSON
            </a>
        {% endif %}
        {{ block.super }}
    </div>
{% endblock %}
