<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>UC Merced</title>
</head>
<body>

<header class="site-header">
    <div class="logo">
        <a href="{{ url_for('admin2') }}"><img src="{{ url_for('static', filename='images/UC_Merced_Seal.png') }}"
                                             alt="UC Merced Seal"/></a>
        <h1><a href="{{ url_for('admin2') }}">University of California Merced</a></h1>
    </div>

    <nav class="site-navigation">
        <ul class="nav">
            <li><a style="background-color: cornflowerblue" href="{{ url_for('admin.logout') }}">Log Out</a></li>
        </ul>
    </nav>
</header>

<nav class="vertical-nav">
    <ul>
        <li><a href="{{ url_for('ref_registration') }}">Registrations</a></li>
        <li><a href="{{ url_for('ref_Judge') }}">Judges</a></li>
        <li><a href="{{ url_for('ref_Parking') }}">Parking</a></li>
        <li><a href="{{ url_for('ref_Project') }}">Projects</a></li>
        <li><a href="{{ url_for('ref_Room') }}">Room</a></li>
        <li><a href="{{ url_for('tbl_CheckIn') }}">CheckIn</a></li>
        <li><a href="{{ url_for('tbl_Event') }}">Event</a></li>
        <li><a href="{{ url_for('tbl_EventJudge') }}">Event Judge</a></li>
        <li><a href="{{ url_for('Staff') }}">Staff</a></li>
    </ul>
</nav>

<div class="main-content-base2">
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>

</body>
</html>
