{% extends 'admin2/base.html' %}

{% block content %}

<div class="login-container">
    <h1>Add Judge</h1>
    <form action="" method="POST" class="login-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.User_ID.label(class="form-label") }}
            {{ form.User_ID(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="submit-btn") }}
        </div>
    </form>
</div>
<h1>All Current Judges</h1>
<table class="table">
    <thead>
    <tr>
        <th>Judge ID</th>
        <th>Judge Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for Judge in Judges %}
    <tr>
        <td>{{ Judge.ID }}</td>
        <td>{{ Judge.First_name }}</td>
        <td>{{ Judge.Last_Name }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}