{% extends 'admin2/base.html' %}

{% block content %}

<div class="login-container">
    <h1>Input Parking</h1>
    <form action="" method="POST" class="login-form">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.Name.label(class="form-label") }}
            {{ form.Name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.X_Location.label(class="form-label") }}
            {{ form.X_Location(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.Y_Location.label(class="form-label") }}
            {{ form.Y_Location(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="submit-btn") }}
        </div>
    </form>
</div>
<h1>All Current Registrations</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>X_Location</th>
        <th>Y_Location</th>
    </tr>
    </thead>
    <tbody>
    {% for locations in parking %}
    <tr>
        <td>{{ locations.Name }}</td>
        <td>{{ locations.X_Location }}</td>
        <td>{{ locations.Y_Location }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}