{% macro nav() %}
<!-- NAVBAR -->
<div id="siteName">
    <div class="container">
        <div class="row-fluid">
            <div class="name-slogan span12">
                <div id="site-name" class="site-name"><a href="innovatetogrow.ucmerced.html" title="Home"
                        rel="home">Innovate
                        To Grow</a></div>
                <div id="site-slogan" class="site-slogan">School of Engineering</div>
            </div>
        </div>
    </div>
</div>
<div id="main-menu" class="clearfix site-main-menu">
    <div class="container">
        <div class="navbar row-fluid">
            <div class="navbar-inner1 span12">
                <button aria-label="Navigation menu" class="btn-navbar collapsed" data-toggle="collapse"
                    data-target=".nav-collapse"> <span class="hide">Navigation menu</span> <span
                        class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span
                        class="icon-bar bottom-bar"></span> </button>
                <div class="nav-collapse collapse">
                    <nav id="main-nav" role="navigation">
                        <div class="region region-navigation clearfix">
                            <div id="block-superfish-1" class="clearfix block block-superfish">
                                <h2>Main menu</h2>
                                <div class="content">
                                    <ul id="superfish-1"
                                        class="sf-menu main-menu sf-horizontal sf-style-none sf-total-items-10 sf-parent-items-5 sf-single-items-5">
                                        <li id="menu-548-1" class="first odd sf-item-1 sf-depth-1 sf-no-children"><a
                                                href="{{ url_for('home.mainpage') }}" title=""
                                                class="sf-depth-1  active">Home</a></li>
                                        <li id="menu-538-1"
                                            class="middle even sf-item-2 sf-depth-1 sf-total-children-3 sf-parent-children-0 sf-single-children-3 menuparent">
                                            <a href="{{ url_for('home.about') }}" class="sf-depth-1  menuparent">About Us</a>
                                            <ul>
                                                <li id="menu-4471-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.engineering_capstone') }}" title=""
                                                        class="sf-depth-2 ">Engineering Capstone</a>
                                                </li>
                                                <li id="menu-544-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.about_EngSL') }}" title="" class="sf-depth-2 ">Eng.
                                                        Service Learning</a></li>
                                                <li id="menu-4481-1"
                                                    class="last odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.software_capstone') }}" title=""
                                                        class="sf-depth-2 ">Software Eng. Capstone</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-5291-1"
                                            class="middle odd sf-item-3 sf-depth-1 sf-total-children-7 sf-parent-children-0 sf-single-children-7 menuparent">
                                            <a href="{{ url_for('home.event') }}" title="" class="sf-depth-1  menuparent">Fall
                                                2022</a>
                                            <ul>
                                                <li id="menu-5301-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.event') }}" title="" class="sf-depth-2 ">Event
                                                        info</a></li>
                                                <li id="menu-5371-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="schedule.html" title=""
                                                        class="sf-depth-2 ">Schedule</a></li>
                                                <li id="menu-5321-1"
                                                    class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="projects-teams.html" title=""
                                                        class="sf-depth-2 ">Projects &amp; Teams</a></li>
                                                <li id="menu-5331-1"
                                                    class="middle even sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="judges.html" title="" class="sf-depth-2 ">for
                                                        Judges</a></li>
                                                <li id="menu-5341-1"
                                                    class="middle odd sf-item-5 sf-depth-2 sf-no-children"><a
                                                        href="attendees.html" title="" class="sf-depth-2 ">for
                                                        Attendees</a></li>
                                                <li id="menu-5351-1"
                                                    class="middle even sf-item-6 sf-depth-2 sf-no-children"><a
                                                        href="students.html" title="" class="sf-depth-2 ">for
                                                        Students</a></li>
                                                <li id="menu-5361-1"
                                                    class="last odd sf-item-7 sf-depth-2 sf-no-children"><a
                                                        href="acknowledgement.html" title=""
                                                        class="sf-depth-2 ">Partners &amp; Sponsors</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-4401-1"
                                            class="middle even sf-item-4 sf-depth-1 sf-no-children"><a
                                                href="past-events.html" class="sf-depth-1 ">Past Events</a></li>
                                        <li id="menu-4551-1"
                                            class="middle odd sf-item-5 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
                                            <a href="projects.html" title=""
                                                class="sf-depth-1  menuparent">Projects</a>
                                            <ul>
                                                <li id="menu-4691-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="{{ url_for('home.past_projects') }}" title="" class="sf-depth-2 ">Past
                                                        Projects</a></li>
                                                <li id="menu-4561-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="current-projects.html" title=""
                                                        class="sf-depth-2 ">Current Projects</a></li>
                                                <li id="menu-4571-1"
                                                    class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="project-submission.html" title=""
                                                        class="sf-depth-2 ">Project Submission</a></li>
                                                <li id="menu-4581-1"
                                                    class="last even sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="sample-proposals.html" title=""
                                                        class="sf-depth-2 ">Sample Project Proposals</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-397-1" class="middle even sf-item-6 sf-depth-1 sf-no-children">
                                            <a href="news.html" title="" class="sf-depth-1 ">News</a></li>
                                        <li id="menu-833-1"
                                            class="middle odd sf-item-7 sf-depth-1 sf-total-children-4 sf-parent-children-0 sf-single-children-4 menuparent">
                                            <a href="partnership.html" class="sf-depth-1  menuparent">Partner with
                                                Us</a>
                                            <ul>
                                                <li id="menu-4721-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="project-submission.html" title=""
                                                        class="sf-depth-2 ">Propose a project</a></li>
                                                <li id="menu-4711-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="judges.html" title="" class="sf-depth-2 ">Sign up to
                                                        Judge</a></li>
                                                <li id="menu-647-1"
                                                    class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="sponsorship.html" title="" class="sf-depth-2 ">Sponsor
                                                        or donate</a></li>
                                                <li id="menu-2511-1"
                                                    class="last even sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="FAQs.html" class="sf-depth-2 ">FAQs</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-3971-1"
                                            class="middle even sf-item-8 sf-depth-1 sf-no-children"><a
                                                href="project-submission.html" class="sf-depth-1 ">PROJECT
                                                SUBMISSION</a></li>
                                        <li id="menu-4661-1"
                                            class="middle odd sf-item-9 sf-depth-1 sf-total-children-5 sf-parent-children-0 sf-single-children-5 menuparent">
                                            <a href="students.html" title=""
                                                class="sf-depth-1  menuparent">Students</a>
                                            <ul>
                                                <li id="menu-4671-1"
                                                    class="first odd sf-item-1 sf-depth-2 sf-no-children"><a
                                                        href="I2G-student-agreement.html" title=""
                                                        class="sf-depth-2 ">Student Agreement</a></li>
                                                <li id="menu-5381-1"
                                                    class="middle even sf-item-2 sf-depth-2 sf-no-children"><a
                                                        href="ferpa.html" title="" class="sf-depth-2 ">FERPA (Media)
                                                        Agreement</a></li>
                                                <li id="menu-4801-1"
                                                    class="middle odd sf-item-3 sf-depth-2 sf-no-children"><a
                                                        href="i2g-students-preparation.html" title=""
                                                        class="sf-depth-2 ">Event preparation </a>
                                                </li>
                                                <li id="menu-4791-1"
                                                    class="middle even sf-item-4 sf-depth-2 sf-no-children"><a
                                                        href="video-preparation.html" title=""
                                                        class="sf-depth-2 ">Video preparation</a></li>
                                                <li id="menu-2651-1"
                                                    class="last odd sf-item-5 sf-depth-2 sf-no-children"><a
                                                        href="capstone_purchasing_reimbursement_forms.html"
                                                        class="sf-depth-2 ">Purchasing |
                                                        Travel</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-521-1" class="last even sf-item-10 sf-depth-1 sf-no-children">
                                            <a href="contact-us.html" title="" class="sf-depth-1 ">Contact Us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div id="now-date-weather"><span id="today"></span> <span
                            id="weather"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}