.iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }
  
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .i2gHome h3 {
        color: #0f2d52 !important;
     margin: 0px 0px 12px 0px;
    
  }
  .i2gHome h2 {
   color: #0f2d52 !important;
     margin: 0px 0px 40px 0px;
     padding-bottom: 10px;
     border-bottom: 2px solid #ffbf3c;
  }
  .i2gHome li a {
      color: #007E9E;
      text-decoration: underline;
  }
  .i2gHome h4 {
      margin-top: 0px !important;
      padding-top: 0px !important;
  }


p {
    margin: 0 0 0px;
}

td.details-control {
    /* Up and Down arrows*/
    background: url('https://innovatetogrow.ucmerced.edu/sites/innovatetogrow.ucmerced.edu/files/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://innovatetogrow.ucmerced.edu/sites/innovatetogrow.ucmerced.edu/files/images/details_close.png') no-repeat center center;
}

th {
    /* this is to make the top headers of the table sticky */
    position: sticky;
    top: 43.5px;
    background-color: white;
    overflow: unset;
    z-index: 100;
}

.tableHeader {
    background: color #e5e5e5;
    ;
    margin-left: 0 !important;
    padding-left: 12px !important;
}

/* CSS for clickable team number button i.e. "CAP-130" */
button {
    white-space: wrap !important;
    font-size: 15px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-align: left;
    color: #000000;
    text-decoration: underline;
}

/* CSS for padding on buttons (makes it far left)*/
button {
    padding-left: 0px;
}

/* CSS to keep the CSE, CEE, EngSl tables next to eachother when it can fit on the browser window*/
@media (min-width: 200px) {
    .row-fluid .span10 {
        /* width: 84.90598% !important; */
        width: 81% !important;
        padding-left: 50px;
    }
}

@media (min-width: 200px) {
    .row-fluid .span2 {
        width: 14% !important;
    }
}

@media (max-width: 200px) {

    [class*="span"],
    .uneditable-input[class*="span"],
    .row-fluid .i2gTable [class*="span"] {
        display: block;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.table__wrapper {
    width: 100%;
}

.table__wrapper .table {
    /* width: 100%; */
    max-width: 100%;
}

/* ------- Presentational Formatting --------- */

.center {
    margin: 0 auto;
    /*width: 80%;*/
}

.table {
    border: 1px solid #f0f0f0;
    border-collapse: collapse;
}

.table tr {
    border-bottom: 1px solid white;
}

.table thead tr {
    border-bottom: 2px solid white;
    background: #d9d9d9;
}

.table thead tr:nth-child(3) {
    background: #d9d9d9;
}

.borderLess {
    border-bottom: 1px solid white;
    max-width: 100px;
}

.table td,
.table th {
    padding: .5em;
    /* min-width: fit-content; */
}

.table th {
    text-align: left;
}

@media screen and (max-width:200px) {
    .table {
        margin: 0 auto;
        width: 100%;
        border-spacing: 0;
        background-color: #f0f0f0;
    }

    .table thead {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    .borderLess {
        border-bottom: 2px solid #f0f0f0;
    }

    .table tbody,
    .table tr,
    .table th,
    .table td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;

    }

    .table tr td,
    .table tr th {
        padding: 2em 1em;
        vertical-align: middle;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        border: 1px solid #5b5b5b;
        border-top: none;
        /* width: 100%; */

        /* min-width: fit-content; */
    }

    .table th[scope="row"] {
        /* min-width: fit-content; */

        width: 100%;
        text-align: center;
        display: block;
        background-color: #5b5b5b;

        margin: 0 auto;
        padding: .5em 0;
    }

    .table td[data-header]:before {
        content: attr(data-header);
        display: block;
        float: left;
        color: #002856;
        width: 30%;
        font-weight: bold;
        text-align: left;
        margin-bottom: 0px;
    }

    .table td[data-header]>* {
        display: block;
        width: 48%;
        float: right;
        clear: right;
        padding-left: 1em;
        margin-top: 0;
    }

    .table td[data-header]:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        color: #5b5b5b;
        border-right: 1px solid #EDF0F1;
        /* padding-bottom: 200%; */
        display: block;
    }
}


/* -------------------------------- */
/* 
 TRY: JUST TO BACKGROUND -> MARKETING WEBSITE -> CHANGE BACKGROUND
 CAP# (PROJECT CLIENT)
 COMPANY

 MOUSE OVER -> ALT TEXT -> REPEAT CAP#, AND ALL OTHER INFO
*/
/* -------------------------------- */


/* Full Screen */
@media screen and (min-width:200px) {

    /* Coloring of the Columns (CAP) */
    .capTable tr td:nth-child(2) {
        background: rgba(218, 169, 0, 0.90);
        min-width: 100px;
        max-width: 160px;
    }

    .capTable tr td:nth-child(3) {
        background: rgba(218, 169, 0, 0.80);
        min-width: 100px;
        max-width: 160px;
    }

    .capTable tr td:nth-child(4) {
        background: rgba(218, 169, 0, 0.70);
        min-width: 100px;
        max-width: 160px;
    }

    .capTable tr td:nth-child(5) {
        background: rgba(218, 169, 0, 0.60);
        min-width: 100px;
        max-width: 160px;
    }

    .capTable tr td:nth-child(6) {
        background: rgba(218, 169, 0, 0.50);
        min-width: 100px;
        max-width: 160px;
    }

    .capTable tr td:nth-child(7) {
        background: rgba(218, 169, 0, 0.40);
        min-width: 100px;
        max-width: 160px;
    }

    /* Coloring of the Columns (CSE) */
    .cseTable tr td:nth-child(2) {
        background: #002856;
        min-width: 100px;
        max-width: 160px;
    }

    .cseTable tr td:nth-child(3) {
        background: #002856;
        opacity: 0.95;
        min-width: 100px;
        max-width: 160px;
    }

    .cseTable tr td:nth-child(4) {
        background: #002856;
        opacity: 0.90;
        min-width: 100px;
        max-width: 160px;
    }

    .cseTable tr td:nth-child(5) {
        background: #002856;
        opacity: 0.85;
        min-width: 100px;
        max-width: 160px;
    }

    /* Coloring of the Columns (EngSL) */
    .engslTable tr td:nth-child(2) {
        background: #99D9D9;
        max-width: 120px;
    }

    /* Company Names */
    .companyName {
        font-size: 10px;
        color: #002856;
        /* font-weight: lighter; */
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;

        min-width: 125px;
    }

    .companyNameE {
        font-size: 10px;
        color: #002856;
        /* font-weight: lighter; */
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;

        min-width: 180px;
    }

    .companyNameC {
        font-size: 10px;
        color: #FFBF3C;
        /* font-weight: lighter; */
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;

        min-width: 180px;
    }

}

@media screen and (max-width: 200px) {

    /* Coloring of the Columns (CAP) */
    .capTable tr td:nth-child(2) {
        background: #DAA900;
    }

    .capTable tr td:nth-child(3) {
        background: rgba(218, 169, 0, 0.90);
    }

    .capTable tr td:nth-child(4) {
        background: rgba(218, 169, 0, 0.80);
    }

    .capTable tr td:nth-child(5) {
        background: rgba(218, 169, 0, 0.70);
    }

    .capTable tr td:nth-child(6) {
        background: rgba(218, 169, 0, 0.60);
    }

    .capTable tr td:nth-child(7) {
        background: rgba(218, 169, 0, 0.50);
    }

    /* Coloring of the Columns (CSE) */
    .cseTable tr td:nth-child(2) {
        background: #002856;
    }

    .cseTable tr td:nth-child(3) {
        background: #002856;
        opacity: 0.90;
    }

    .cseTable tr td:nth-child(4) {
        background: #002856;
        opacity: 0.80;
    }

    .cseTable tr td:nth-child(5) {
        background: #002856;
        opacity: 0.70;
    }

    /* Coloring of the Columns (EngSL) */
    .engslTable tr td:nth-child(2) {
        background: #99D9D9;
    }

    /* Company Names */
    .companyName {
        font-size: 10px;
        color: #002856;
        /* font-weight: lighter; */
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }

    .companyNameE {
        font-size: 10px;
        color: #002856;
        /* font-weight: lighter; */
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }

    .companyNameC {
        font-size: 10px;
        color: #FFBF3C;
        /* font-weight: lighter; */
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }

}

@media screen and (max-width: 200px) {
    .center {
        width: 100%;
    }
}

/* Entire cell as a button */

/* Zoom Button */
.zoom {
    display: block;
    text-decoration: none !important;
    background-color: #0091B3;
    color: #fff !important;
    padding: 1px 5px 1px 5px;
    text-align: center;
    border-radius: 4px !important;

}

.zoom:hover {
    background-color: #99D9D9;
    color: #0091B3 !important;
    border: none;
    border-radius: 4px !important;
    width: auto;
    height: 100%;
}

.zoomborder {
    background-color: #efefef;
    margin: none;
}

.zoomend {
    display: block;
    text-decoration: none !important;
    background-color: rgba(107, 164, 58, 1.0);
    color: #fff !important;
    padding: 1px 5px 1px 5px;
    font-weight: bold;
    border-radius: 4px !important;
}

.zoomend:hover {
    background-color: #99D9D9;
    color: #0091B3 !important;
    border: none;
    border-radius: 4px !important;
    width: auto;
    height: 100%;
    font-weight: bold;
    border-radius: 4px !important;
}

.zoomendborder {
    background-color: #fff !important;
    margin: none;
}

/* Cameron Icon by Zoom Action */
@import url('https://css.gg/camera.css');

.gg-camera {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border: 2px solid;
    border-radius: 3px;
    width: 18px;
    height: 12px;
    perspective: 24px;
    color: #0091B3;
    transform: translate(-50%, -50%);
    margin: auto;
}

.gg-camera::after,
.gg-camera::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-camera::before {
    border: 2px solid;
    border-left-color: transparent;
    transform: rotateY(-70deg);
    width: 8px;
    height: 8px;
    right: -7px;
    top: 0;
}

.gg-camera::after {
    width: 10px;
    height: 5px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -5px;
    right: 2px;
    border-top-right-radius: 2px;
}