{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<div>
  <h2 >Please enter your email to register for the event</h2>
</div>
<form action="{{ url_for('events.enter_email', event_name=event.name) }}" method=post>
  {{ form.hidden_tag() }}
  <div class="input-row">
    {{ forms.render(form) }}
  </div>
<div class="submit-container">
  {{ form.submit }}
  <br>
</div>
  
</form>

{% endblock %}