{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}

<br>
<div class="text-prompt">
  <h3>Enter your email address: you will receive a verification link to continue with the event registration and update,
    or signup for your I2G Membership</h3>
</div>
<br>
<form action="{{ url_for('events.enter_email', event_name=event.name.replace(' ', '-')) }}" method=post>
  {{ form.hidden_tag() }}

  <div class="input-row">
    {{ forms.render(form) }}
  </div>

  <div class="submit-container">
    {{ form.submit }}
  </div>
  <br>

</form>

<script>
  const submitBtn = document.getElementById("submit");
  submitBtn.addEventListener("click", function () {
    submitBtn.style.pointerEvents = "none";

    setTimeout(function () {
      submitBtn.style.pointerEvents = "auto";
    }, 3000);
  });
</script>

{% endblock %}