<!DOCTYPE html>
<html>
    {% import "membership/render_helper.html" as forms %}

    {% block content %}

    {{ name }}
    <br><br>
    {{ description }}
    <br><br>
    {{ date }}
    <br><br>
    {{ time }}
    <br><br>
    {{ location }}
    <br><br>

    <form action="{{ url_for('events.event_register', token=token) }}" method=post>
        {{ form.hidden_tag() }}
      
        {{ forms.render(form) }}
      
        <br>
        {{ form.submit }}
        <br>
      </form>
    {% endblock %}
</html>