{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}

<form action="{{ url_for('registration.complete_registration', token=token) }}" method=post>

    {{ form.hidden_tag() }}

    {{ forms.render(form) }}

    {{ form.submit }}

</form>

<script>
    const registerCheckbox = document.querySelector('#register_event');
    const eventDivs = document.querySelectorAll('div[id^="event_"]');

    registerCheckbox.addEventListener('change', function () {
        if (this.checked) {
            eventDivs.forEach(div => {
                div.style.display = 'block';
                div.querySelectorAll('input').forEach(input => {
                    input.setAttribute('required', '');
                });
            });
        } else {
            eventDivs.forEach(div => {
                div.style.display = 'none';
                div.querySelectorAll('input').forEach(input => {
                    input.removeAttribute('required');
                });
            });
        }
    });

    window.addEventListener('load', function () {
        registerCheckbox.dispatchEvent(new Event('change'));
    });

    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            registerCheckbox.dispatchEvent(new Event('change'));
        }
    });

</script>

{% endblock %}