{% extends "membership/layout.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<br>
<div class="w3-container w3-red">
<h1>ERROR 01</h1>
<p>At least one of your emails is already registered.</p>
<p>We've sent an update link to at least one of the already registered emails.</p>
<p>If you have not registered before, please try again later and contact the <a
        href="mailto:i2g@ucmerced.edu">administrator</a> if the problem persists.</p>
</div>
{% endblock %}