{% extends "membership/layout.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
h1 {
   background: #FFA2AA;
   color: #2c3e50;
   text-align: center;
   width: fit-content;
   padding: 5px;
}
</style>

<br>
<h1>ERROR 03</h1>
<p>The phone number you entered is already registered to another user.</p>
<p>Phone numbers must be unique in our system.</p>
<p>If you believe this is an error or need to update your phone number, please contact the <a
        href="mailto:i2g@ucmerced.edu">administrator</a>.</p>

{% endblock %}
