{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
  .w3-theme-UCBlue {
  color:#fff !important;background-color:#002856 !important}
  .w3-theme-UCGold {
  color:#fff !important;background-color:#DAA900 !important}
</style> 

<div class="w3-container w3-theme-UCBlue">
    <h2 style="color:#DAA900;">Fill out your information below</h2>
</div>
<form action="{{ url_for('registration.info', token=token) }}" method=post>
  {{ form.hidden_tag() }}

  {{ forms.render(form) }}

  <br>
  {{ form.submit }}
  <br>
</form>
{% endblock %}