  form label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 5px 0;
  }
   
  form input#first_name,
  form input#last_name,
  form input#primary_email,
  form input#confirm_primary,
  form input#secondary_email,
  form input#confirm_secondary {
    width: 400px;
    background-color: #fafafa;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    border: 1px solid #cccccc;
    padding: 3px;
    font-size: 1.1em;
  }
   
  form input#submit {
    display: block;
    -webkit-border-radius: 3px; 
       -moz-border-radius: 3px;
            border-radius: 3px;
    border:1px solid #d8d8d8;
    padding: 10px; 
    font-weight:bold; 
    text-align: center; 
    color: #000000; 
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
    background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
  }

  p {
    white-space: pre;
  }

  form input#submit:hover{
    cursor: pointer;
    border:1px solid #c1c1c1; 
    background-color: #dbdbdb;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
    background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
    background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
    background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
    background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
  }
  ul {
    list-style-type: none;
    list-style: none;
  }
  ol {
    list-style-type: none;
    list-style: none;
  }
  li {
    list-style-type: none;
    list-style: none;
  }
  