{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    <div class="i2g-admin-object-tools">
        {% if show_import_buttons %}
            <a
                    href="{% url 'admin:cms_stylesheet_export' %}"
                    class="i2g-admin-action"
            >
                Export JSON
            </a>
            <a
                    href="{% url 'admin:cms_stylesheet_import' %}"
                    class="i2g-admin-action"
            >
                Import JSON
            </a>
        {% endif %}
        {{ block.super }}
    </div>
{% endblock %}
