{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="clearfix main">
  <div class="container">
    <div class="content">
      <h2>Please enter either the Primary or Secondary email address that you used to register.</h2>
    </div>
    <form class="" action="{{ url_for('update.enter_email') }}" method=post>
      {{ form.hidden_tag() }}

      <div class="input-row">
        {{ forms.render(form) }}
      </div>

      <div class="submit-container">
        {{ form.submit }}
      </div>
      <br>
    </form>

  </div>
</div>
{% endblock %}