{% extends "membership/layout.html" %}
{% import "membership/render_helper.html" as forms %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container w3-theme-UCBlue">
    <h2 style="color:#DAA900">Update your information below</h2>
</div>
<form action="{{ url_for('update.update_info', token=token) }}" method=post>
    {{ form.hidden_tag() }}

    {{ forms.render(form) }}

    <br>
    {{ form.submit }}
    <br>
</form>

<script>
    const registerCheckbox = document.querySelector('#register_event');
    const eventDivs = document.querySelectorAll('div[id^="event_"]');

    registerCheckbox.addEventListener('change', function () {
        if (this.checked) {
            eventDivs.forEach(div => {
                div.style.display = 'block';
                div.querySelectorAll('input').forEach(input => {
                    input.setAttribute('required', '');
                });
            });
        } else {
            eventDivs.forEach(div => {
                div.style.display = 'none';
                div.querySelectorAll('input').forEach(input => {
                    input.removeAttribute('required');
                });
            });
        }
    });

    window.addEventListener('load', function () {
        registerCheckbox.dispatchEvent(new Event('change'));
    });

    window.addEventListener('pageshow', function (event) {
        if (event.persisted) {
            registerCheckbox.dispatchEvent(new Event('change'));
        }
    });

</script>

{% endblock %}