form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 20px 0px; */
}

.form-fix {
    width: 100% !important;
    display: block;
    flex-wrap: nowrap;
}

/* Add this rule to the existing CSS */
#register_event_wrapper .form-group {
    display: flex;
    align-items: left;
}

#register_event_wrapper label {
    margin-right: 10px;
}

#register_event {
    margin-top: 1px;
}

#primary_email_wrapper,
#secondary_email_wrapper {
    margin-bottom: -7%;
}

.primary_subscribe_wrapper,
.secondary_subscribe_wrapper,
.phone_subscribe_wrapper {
    display: inline-flex;
    align-items: center;
    margin-top: -13px;
}

.primary_subscribe_wrapper label,
.secondary_subscribe_wrapper label,
.phone_subscribe_wrapper label {
    color: #daa900;
    margin: -7px 7px 0px 0px;
}

.checkbox-inline {
    display: inline-flex;
    align-items: center;
}

form .input-field[type="checkbox"] {
    margin-right: 5px;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 10pt;
    font-weight: bold;
    margin-left: 8%;
    padding-top: 10px;
    text-align: left;
    color: #000000;
}

.input-field li label {
    display: inline-flex;
}

.input-field li {
    display: flex;
}

.input-w label,
.input-w input {
    /* float: none; */
    display: inline-block;
    vertical-align: middle;
}

input {
    margin: 0;
    padding: 10px;
    width: 200px;
}

dd {
    margin: 0px !important;
    padding: 0px;
}

ul {
    list-style-type: circle;
    list-style: circle;
    margin: 0px !important;
}

ol {
    list-style-type: none;
    list-style: none;
}

li {
    list-style-type: none;
    list-style: none;
}

form .input-field {
    min-height: 41px;
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    background: #ffffff !important;
    font-size: small;
    margin: 0em 2em;
    border-radius: 10px !important;
    outline: none;
    padding-left: 10px;
}

/* Phone input container styling */
.phone-input-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0em 2em;
    max-width: 340px;
}

.country-code-container {
    flex-shrink: 0;
}

.phone-number-container {
    flex-grow: 1;
}

.country-code-select {
    min-height: 41px;
    width: 80px !important;
    max-width: 80px !important;
    margin: 0 !important;
    border: 2px solid #002856;
    line-height: 3em;
    background: #ffffff !important;
    font-size: small;
    border-radius: 10px !important;
    outline: none;
    padding-left: 10px;
}

.phone-number-input {
    min-height: 41px;
    margin: 0 !important;
    border: 2px solid #002856;
    width: 100% !important;
    max-width: 240px !important;
}

form input#secondary_email,
form input#confirm_secondary {
    border: 2px solid #0291b3;
}

form input#primary_email,
form input#confirm_primary {
    border: 2px solid #002856;
}

.errors {
    color: red;
}

#submit {
    display: block;
    border-radius: 10px;
    border: 0px solid #ffbf3c;
    padding: 10px;
    margin-top: 5%;
    font-weight: bold;
    width: 30%;
    text-align: center;
    color: #ffffff;
    background-color: #d8a803;
}

#submit:hover {
    cursor: pointer;
}

.title {
    text-align: left;
    color: #005487;
    margin-top: 5%;
}

.subtitle {
    text-align: left;
    color: #ffc036;
    margin-top: -15px;
}

.line {
    width: 200px;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 5%;
    text-align: left;
    border: 0;
    border-top: 2px solid #ffbd26;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.form-fix label {
    margin-left: 0px;
    display: inline-block;
    width: 100%;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.last-field-container {
    width: 400px;
    height: 100%;
    margin: 0 auto;
}

.last-field-container .input {
    display: flex
}

.form-fix .field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-fix input {
    display: inline-block;
}

.field-container {
    margin-bottom: 2.5%;
    width: 50%;
    height: 100%;
}

@media (min-width: 768px) {
    form {
        max-width: 800px;
        /* gap: 30px 0px; */
    }

    input {
        width: 250px;
    }

    .phone-input-container {
        max-width: 400px;
    }
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .field-container {
        width: 100%;
    }

    .title {
        font-size: 25px;
        margin-left: 5px;
    }

    .subtitle {
        font-size: 25px;
        margin-left: 5px;
    }

    .line {
        margin-left: 5px;
    }

    .phone-input-container {
        flex-direction: column;
        gap: 5px;
        max-width: 100%;
    }

    .country-code-select {
        width: 100% !important;
        max-width: 120px !important;
    }

    .phone-number-input {
        max-width: 100% !important;
    }
}

.info-content {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: left;
}

.info-content p {
    margin-left: 30px;
}

.text-prompt {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
}

/* OTP Form Button Styling - High Specificity */
.btn-primary,
.btn-primary.btn-lg,
.btn-primary.btn-block,
form .btn-primary,
div .btn-primary,
input[type="submit"],
button[type="submit"] {
    background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
    border-radius: 10px !important;
    padding: 10px 20px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    text-align: center !important;
    display: inline-block !important;
    width: auto !important;
    min-width: 200px !important;
    margin-top: 15px !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.btn-primary:hover,
.btn-primary.btn-lg:hover,
.btn-primary.btn-block:hover,
form .btn-primary:hover,
div .btn-primary:hover,
input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.btn-primary:focus,
.btn-primary.btn-lg:focus,
.btn-primary.btn-block:focus,
form .btn-primary:focus,
div .btn-primary:focus,
input[type="submit"]:focus,
button[type="submit"]:focus {
    background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.btn-primary:active,
.btn-primary.btn-lg:active,
.btn-primary.btn-block:active,
form .btn-primary:active,
div .btn-primary:active,
input[type="submit"]:active,
button[type="submit"]:active {
    background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
    background-image: none !important;
    background-position: 0 0 !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
