<!DOCTYPE html>
<html>

<head>
    <title>Innovate To Grow At UC Merced</title>
    <!-- <link rel="icon" href="images/favicon.png" /> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    
</head>
<p><img alt="" src="{{url_for('static', filename='i2g-header-img.jpg') }}" style="width: 100%;" /></p>
<div class="i2gHome" style="text-align: left;">
    <br>
    <center><a style="color: #0091B3;" class="btn--invert-gold hb__play" href="{{ url_for('about.about_us') }}"
            target="_blank">I2G
            Membership</a></center><br>
    <h4>The Innovate to Grow program</h4>

    <p>Innovate to Grow (I2G) is a unique &ldquo;experiential learning&rdquo; program that engages external partner
        organizations with teams of students who design systems to solve real-world problems.&nbsp;The Innovate to Grow
        program encompasses the following experiential learning classes:&nbsp; <a
            href="https://innovatetogrow.ucmerced.edu/engineering-capstone">Engineering Capstone</a>, <a
            href="https://innovatetogrow.ucmerced.edu/about_EngSL">Engineering Service Learning</a>, and <a
            href="https://innovatetogrow.ucmerced.edu/software-capstone">Software Engineering Capstone</a>.</p>
</div>
<div class="i2gHome">
    <div class="span12" style="text-align: left; padding-bottom: 20px;">
        <div 12px="" class="span6" padding-top:="" style="padding-right: 20px;">
            <h4>The Innovate to Grow showcase</h4>

            <p dir="ltr">The&nbsp;Fall 2022 expo will be held at the Gym.&nbsp;Presentations will also be streamed on
                Zoom. Parking at&nbsp;Lot TBD&nbsp;(follow signs).</p>

            <p><strong>Friday, December&nbsp;16, 2022&nbsp;-&nbsp;Mark your calendar!</strong></p>

            <p dir="ltr"><b>Registration</b>: 9:30AM&nbsp; (check for updates)<br />
                <b>Expo</b>:&nbsp; Gym&nbsp; 10:00&nbsp;<br />
                <b>Presentations</b>: Campus and&nbsp;Zoom:&nbsp; 12:30<br />
                <b>Awards + Reception</b>: Conference Center 3:45
            </p>

            <div class="pull-left sb-row">
                <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play"
                        href="https://i2g-fall-2022.eventbrite.com" target="_blank">Register Now !</a></div>
                <!--
                  <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="">Event details</a></div>
  
                  <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="/current-projects">Projects &amp; Teams</a></div>
  
  -->
            </div>
        </div>

        <div class="span6">
            <div class="iframe-container"><iframe class="responsive-iframe"
                    src="https://www.youtube.com/embed/gWBs9QYW1nA"></iframe></div>
        </div>
    </div>
</div>
<div class="i2gHome">
    <div class="span12" style="text-align: left; margin: 0; padding-top: 50px;">
        <div class="span6">
            <h4>Message from the Dean</h4>

            <div class="iframe-container"><iframe class="responsive-iframe"
                    src="https://www.youtube.com/embed/gQjfIZ3_nCM"></iframe>

                <p style="text-align: center;">Welcome and participation instructions, Mark Matsumoto, Dean, School of
                    Engineering, University of California, Merced.</p>
            </div>
        </div>

        <div class="span6" style="padding-left: 20px;">
            <h4>Fall 2022&nbsp;Information:</h4>

            <div class="pull-left sb-row">
                <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="event">Event</a></div>

                <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="schedule">Schedule</a>
                </div>

                <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="projects-teams">Projects
                        &amp; Teams</a></div>

                <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="attendees">For
                        Attendees</a></div>

                <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="judges">For Judges</a>
                </div>

                <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="students">For
                        Students</a></div>

                <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="acknowledgement">Our
                        Partners &amp; Sponsors</a></div>

                <div class="sb-col hb__buttons-blue">&nbsp;</div>

                <div class="sb-col hb__buttons-blue">&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<div>&nbsp;</div>
<div class="sb-row" style="text-align: center; padding-top: 50px;">
    <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="/about">About Us</a></div>

    <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="/projects">Projects</a></div>

    <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="/project-submission">Project
            Submission</a></div>

    <div class="sb-col hb__buttons-gold"><a class="btn--invert-gold hb__play" href="/contact" target="_blank">Contact
            Us</a></div>

    <div class="sb-col hb__buttons-blue"><a class="btn--invert-blue hb__play" href="/news">News</a></div>
</div>

<p>&nbsp;</p>

<div class="i2gHome">
    <p>For any questions or comments, please&nbsp;<a href="https://innovatetogrow.ucmerced.edu/contact-us"
            target="_blank">contact us here</a>&nbsp;or email to:&nbsp;&nbsp;<a
            href="mailto:innovatetogrow@ucmerced.edu">innovatetogrow@ucmerced.edu</a></p>
</div>
</html>