{% extends "layout.html" %}
{% from "renderhelper.html" import render_field %}
 
{% block content %}
  <h2>Fill out your information below</h2>
  <form action="{{ url_for('update.update_info', token=token) }}" method=post>
    {{ form.csrf_token }}

    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
    {{ render_field(form.primary_email) }}
    {{ render_field(form.confirm_primary) }}
    {{ render_field(form.primary_subscribe) }}
    {{ render_field(form.secondary_email) }}
    {{ render_field(form.confirm_secondary) }}
    {{ render_field(form.secondary_subscribe) }}
    {{ render_field(form.organization) }}
    {{ render_field(form.phonenumber) }}
    {{ render_field(form.titlerole) }}
    
    <br>
    {{ form.submit }}
    <br>
  </form>
{% endblock %}