{% extends 'admin/master.html' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>I2G Documentation</title>
    </head>
    <body>
    <header>
        <h1>Welcome to I2G</h1>
    </header>
    <main>
        <p>This system is primarily written in Python, JavaScript, HTML, and CSS. It is a Flask application, and the
            docs are linked below:</p>
        <p>Flask docs: <a href="https://flask.palletsprojects.com/en/stable/" target="_blank">https://flask.palletsprojects.com/en/stable/</a>
        </p>

        <h2>Running the system for the first time</h2>
        <p>After cloning the repository to your local machine, it is best to utilize a virtual environment to run the
            application locally.</p>
        <pre><code>python3 -m venv .venv</code></pre>
        <p>To start the virtual environment, run:</p>
        <pre><code>source .venv/bin/activate</code></pre>
        <p>Now you must install all of the dependencies. Run:</p>
        <pre><code>python3 -m pip install -r requirements.txt</code></pre>
        <p>Now you can run the application:</p>
        <pre><code>python3 wsgi.py</code></pre>

        <h3>Common Error</h3>
        <p>An error you might encounter is that the gspread config is in the wrong place. Move the file to:</p>
        <pre><code>~/.config/gspread/service_account.json</code></pre>

        <h2>Important Files and Folders</h2>
        <p>The main folder contains <code>wsgi.py</code>, which is the entry point of the app.</p>
        <ul>
            <li><code>config</code>: Contains constants used throughout the application.</li>
            <li><code>project</code>: Contains the bulk of the application's code.</li>
        </ul>

        <!-- <h2>Critical Files in <code>project</code></h2> -->
        <!-- <ul> -->
        <!--     <li><code>admin.py</code>: Admin dashboard, email bounce handling, event management.</li> -->
        <!--     <li><code>event.py</code>: Event registration for users in Google Sheets.</li> -->
        <!--     <li><code>registration.py</code>: Event registration for new users.</li> -->
        <!-- </ul> -->

        <h2>Common Tasks</h2>
        <ol>
            <li>
                <strong>Change home page</strong>
                <p>Navigate to <code>project/views/home.py</code> and modify the <code>mainpage</code> function to
                    return the correct template.</p>
            </li>
            <li>
                <strong>Update homepage with final details</strong>
                <p>Change times in <code>home-pre-event.html</code> and <code>event.html</code>Go to <code>project/templates/home</code>
                    Ensure the event times are updated manually in both HTML files before each event.</p>
            </li>
            <li>
                <strong>Add event to past events</strong>
                <p>Update <code>views/home.py</code> by adding a new route for the semester. Copy the current <code>home-post-event.html</code>
                    and create a new template, such as <code>templates/home/2024-fall-event.html</code>. Then update
                    <code>home/past-events.html</code> accordingly by adding a new list element with that event.
                    We also need to make sure that the past event shows the correct events. Go to the new template you
                    made for the past event.
                    In this file, the API url will be present to show the projects for that event. Go to the google
                    sheet for that event and copy and paste the hash after d/
                    paste that into the hash of the link in the template. Try to match the API call in the template to
                    the sheet. Also if the spreadsheet only has one sheet, add this range A1:Y38 after /values.</p>
            </li>
            <li>
                <strong>Showing current events</strong>
                <p>Navigate to the current events template and make sure the API call for the google sheet matches the
                    link of the online spreadsheet. If there is only one sheet in the spreadsheet add this
                    range:A1:Y38</p>
            </li>
            <li>
                <strong>Make winners table</strong>
                <p>...coming soon</p>
            </li>
        </ol>

        <h2>Semester Workflow</h2>
        <h3>Semester Start</h3>
        <p>Ensure the home page is set to <code>home-during-semester.html</code></p>
        <p>Ensure the previous event is visible at <a href="https://i2g.ucmerced.edu/past-events">https://i2g.ucmerced.edu/past-events</a>.
        </p>

        <h3>I2G Dates/Times Finalized</h3>
        <p>Update the homepage with the finalized event details. Now is also a good time to set up the winner's table.
            Documentation for this will be updated soon.</p>

        <h3>Day of the I2G Event</h3>
        <p>Switch the homepage to the appropriate template. Stay in touch with Stefano/I2G to know when to update the
            page to the post-event template.</p>
        <p>The Lakireddy Engineering winners are hardcoded. To update winners, navigate to:<code>project/templates/home/home-post-event.html</code>
        </p>
        <p>Then update the past projects section.</p>
    </main>
    </body>
    </html>
{% endblock body %}
