{% extends "layout.html" %}
 
{% block content %}
<article style="text-align: left;">
    <br>
    The ISSNAF reaches out to and connects the Italian Intellectual Diaspora in North America.
    <br><br>
    The quidelines to be considered part of the Diaspora are:
    <br><br>   
    <ul>Be first generation Italian</ul><br>
    <ul>Hold a university degree</ul><br>
    <ul>Conduct or have conducted research or development in any discipline</ul><br>
    <ul>Have, or have had, at least one year of affiliation with a public or private institution in North America</ul>
    <br>
    Today, ISSNAF connects more than 3000 scholars, researchers and technologists in North America. With a strong focus on membership, we actively promote networking and collaborations through local Chapters and Activity Groups.
    <br><br>
    We have built a bridge between our community and the academic, research and technology institutions in Italy through synergistic partnerships, fostering valuable collaborative initiatives.
    <br><br>
</article>
{% endblock %}