{% from "includes/nav.html" import nav %}
{% from "includes/footer.html" import footer  %}
{% from "includes/styles.html" import styles %}
{% from "includes/scripts.html" import scripts %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    {{ styles() }}
</head>
<body>
  {{ nav() }}
    <div class="collection-container">
      <p class = "profile-title"><strong>{{ email }}</strong>'s Profile Page</p>

      {% if collection %}
        <a href="{{ url_for('collection', collection_id = collection._id) }}" class="btn-action">View Collection</a>
      {% else %}
        <p>No collections currently are available for <strong>{{ email }}</strong>.</p>
        <p>Start your own collection <a href="{{ url_for('home.past_projects') }}" class="text-link">here</a>.</p>
      {% endif %}
    </div>

  {{ footer() }}
  {{ scripts() }}
</body>
</html>