{% extends 'admin/master.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I2G Documentation</title>
</head>
<body>
    <header>
        <h1>Welcome to I2G</h1>
    </header>
    <main>
        <p>This system is primarily written in Python, JavaScript, HTML, and CSS. It is a Flask application, and the docs are linked below:</p>
        <p>Flask docs: <a href="https://flask.palletsprojects.com/en/stable/" target="_blank">https://flask.palletsprojects.com/en/stable/</a></p>

        <h2>Running the system for the first time</h2>
        <p>After cloning the repository to your local machine, it is best to utilize a virtual environment to run the application locally.</p>
        <p>To create a virtual environment on mac, run:</p>
        <pre><code>python3 -m venv .venv</code></pre>
        <p>This creates a virtual environment using Python's venv module called <code>.venv</code>.</p>
        <p>To start the virtual environment, run:</p>
        <pre><code>source .venv/bin/activate</code></pre>
        <p>Now you must install all of the dependencies. Run:</p>
        <pre><code>python3 -m pip install -r requirements.txt</code></pre>
        <p>Now you can run the application:</p>
        <pre><code>python3 wsgi.py</code></pre>

        <h3>Common Error</h3>
        <p>An error you might encounter is that the gspread config is in the wrong place. In the repository, it is located in:</p>
        <pre><code>.config/gspread/service_account.json</code></pre>
        <p>However, the file <code>service_account.json</code> should be in your home directory. Move the file to:</p>
        <pre><code>~/.config/gspread/service_account.json</code></pre>
        <p>This should resolve the error.</p>

        <h2>Important Files and Folders</h2>
        <p>In the main folder, <code>wsgi.py</code> is the entry point of the app.</p>
        <p>The two important subdirectories are <code>config</code> and <code>project</code>:</p>
        <ul>
            <li><code>config</code> contains constants that need to be used throughout the application.</li>
            <li><code>project</code> contains the bulk of the code for the application. The rest of the documentation will go over what is in this folder.</li>
        </ul>

        <p><strong>The following files in the <code>project</code> directory are critical for the functioning of the I2G system:</strong></p>
        <ul>
            <li>
                <code>admin.py</code>
                <ul>
                    <li>The admin dashboard for I2G.</li>
                    <li>Handles catching email bounces.</li>
                    <li>Allows creation and editing of events.</li>
                    <li>Manages admin users and roles.</li>
                </ul>
            </li>
            <li>
                <code>event.py</code>
                <ul>
                    <li>Handles event registration for users already in the Google Sheet.</li>
                    <li>Updates and adds entries to the Google Sheet.</li>
                    <li>Sends confirmation emails to registered users.</li>
                </ul>
            </li>
            <li>
                <code>registration.py</code>
                <ul>
                    <li>Handles event registration for new users (not already in the Google Sheet).</li>
                    <li>Updates and adds entries to the Google Sheet.</li>
                    <li>Sends confirmation emails to users registered for the event.</li>
                </ul>
            </li>
        </ul>

        <h2>Common Tasks</h2>
        <p>Every semester, there is an I2G event. Therefore, there are routine tasks that must be completed before, during, and after each I2G event. Here is a list of common tasks and how to complete them:</p>
        <ol>
            <li>
                <strong>Change home page to <code>home-pre-event.html</code></strong>
                <ol>
                    <li>Navigate to <code>project/views/home.py</code> and choose the correct template in the <code>mainpage</code> function.</li>
                </ol>
            </li>
            <li>
                <strong>Change times in the <code>home-pre-event.html</code> and <code>event.html</code></strong>
                <ol>
                    <li>These times must reflect the times of the upcoming event.</li>
                    <li>Unfortunately, these times are hardcoded, so they must be changed manually in both HTML files.</li>
                </ol>
            </li>
        </ol>
    </main>
</body>
</html>
{% endblock body %}
