<div dir="ltr">
    <div class="gmail_default" style="font-family:verdana,sans-serif"><span style="color:rgb(7,55,99)">Dear Friends of
            I2G @ UC Merced:</span><br></div>
    <div class="gmail_quote">
        <div dir="ltr">
            <div class="gmail_quote">
                <div dir="ltr">
                    <div class="gmail_quote">
                        <div dir="ltr">
                            <div class="gmail_quote">
                                <div dir="ltr">
                                    <div class="gmail_quote">
                                        <div dir="ltr" class="gmail_attr">
                                            <font color="#073763" face="verdana, sans-serif"><br>we invite you the
                                                <b>Spring 2023 Innovate to Grow<span class="gmail_default"> -
                                                    </span>Thursday, May 11, 2023</b></font>
                                        </div>
                                        <h2>
                                            <font face="verdana, sans-serif" size="2" color="#073763"><span
                                                    style="font-weight:normal">We are launching: the </span><a
                                                    href="http://i2g.ucmerced.edu"
                                                    target="_blank">i2g.ucmerced.edu</a><span
                                                    style="font-weight:normal"> site with new I2G logo, and an
                                                    innovative &quot;double email&quot; membership system including
                                                    event registration.</span><br></font>
                                        </h2>
                                        <div dir="ltr" class="gmail_attr">
                                            <font face="verdana, sans-serif" color="#073763">By following the <a
                                                    href="{{ event_url }}"
                                                    target="_blank"><b>Regist<span class="gmail_default">ration
                                                            link</span></b></a> you will be able to:<br>
                                                <ul>
                                                    <li>
                                                        <font face="verdana, sans-serif"><span
                                                                class="gmail_default"></span>register for the next
                                                            event, with attendance type (judge, I2G client, family, ...)
                                                        </font>
                                                    </li>
                                                    <li>configure your I2G membership, and opt-in for I2G news.</li>
                                                    <li>add a backup email, in ca<span class="gmail_default"></span>se
                                                        you change your primary email.</li>
                                                </ul>
                                            </font>
                                            <div>
                                                <font color="#073763">
                                                    <font face="verdana, sans-serif"><b><span class="gmail_default"
                                                                style="font-family:verdana,sans-serif"></span>Early
                                                            registrations are appreciated!</b></font>
                                                </font>
                                            </div>
                                            <div>
                                                <font color="#073763">
                                                    <font face="verdana, sans-serif"><b><br></b></font>
                                                </font>
                                            </div>
                                            <p style="font-size:15px">
                                                <font face="verdana, sans-serif" color="#073763"><span
                                                        class="gmail_default"><a
                                                            href="{{ event_url }}"
                                                            style="text-decoration-line:none;background-color:rgb(255,191,60);padding:1em 2em;vertical-align:middle;white-space:nowrap;border:2px solid rgb(255,191,60);outline:0px;line-height:1.2;margin-right:0px;margin-bottom:0px;width:auto;font-size:14px;text-transform:uppercase;display:inline"
                                                            target="_blank"><b>REGISTER NOW !</b></a></span><br></font>
                                            </p>
                                            <p style="font-size:15px">
                                                <font color="#073763"><span
                                                        style="font-family:verdana,sans-serif;font-size:x-small"></span><br>
                                                </font>
                                            </p>
                                            <p>
                                                <font color="#073763"><strong>
                                                        <font face="verdana, sans-serif"><em>Thursday</em>, May 11, 2022
                                                            - Mark your calendar!</font>
                                                    </strong><br></font>
                                            </p>
                                            <p dir="ltr" style="margin:0px 0px 12px"></p>
                                            <div style="text-align:left"><span style="font-family:verdana,sans-serif">
                                                    <font color="#073763"><b>Parking<span class="gmail_default"
                                                                style="font-family:verdana,sans-serif">:
                                                            </span></b>Bellevue Lot (follow signs).</font>
                                                </span></div>
                                            <div style="text-align:left">
                                                <font face="verdana, sans-serif" color="#073763"><b>Registration</b>:
                                                    10:30 (check for updates)</font>
                                            </div>
                                            <font color="#073763">
                                                <font face="verdana, sans-serif">
                                                    <div style="text-align:left"><b>Expo</b>: Gym 11:30 </div><b>
                                                        <div style="text-align:left"><b>Presentations</b><span
                                                                style="font-weight:normal">: COB Bldg. and Zoom:
                                                                2:00</span></div>
                                                    </b><b>
                                                        <div style="text-align:left"><b>Awards + Reception</b><span
                                                                style="font-weight:normal">: Gym 5:45<br></span></div>
                                                        <div style="font-size:x-small;text-align:left"><span
                                                                style="font-size:small;font-weight:normal"></span><br>
                                                        </div>
                                                    </b>
                                                </font>
                                            </font>
                                            <div>
                                                <font color="#073763"><span
                                                        style="font-family:verdana,sans-serif;font-size:large"><span
                                                            class="gmail_default"></span></span><span
                                                        class="gmail_default"
                                                        style="font-family:verdana,sans-serif;font-size:large"></span><b><span
                                                            style="font-family:verdana,sans-serif">We hope you’re able
                                                            to join us!<span class="gmail_default"> </span></span><span
                                                            class="gmail_default"
                                                            style="font-family:verdana,sans-serif"></span><span
                                                            style="font-family:verdana,sans-serif">Thank you!</span></b>
                                                </font>
                                            </div>
                                            <div>
                                                <font style="font-family:verdana,sans-serif" color="#073763"><br></font>
                                            </div>
                                            <div>
                                                <font color="#073763">
                                                    <font style="font-family:verdana,sans-serif">The I2G <span
                                                            class="gmail_default"
                                                            style="font-family:verdana,sans-serif">T</span>eam - <a
                                                            href="http://i2g.ucmerced.edu/"
                                                            target="_blank"><b>i2g.ucmerced.edu</b></a> - </font><span
                                                        style="font-family:verdana,sans-serif"><a
                                                            href="mailto:i2g@ucmerced.edu"
                                                            target="_blank"><b>i2g@ucmerced.edu</b></a></span><br>
                                                </font>
                                            </div>
                                            <div>
                                                <font face="verdana, sans-serif" color="#073763">School of Engineering,
                                                    University of California, Merced</font>
                                            </div>
                                            <div><span style="font-family:verdana,sans-serif">
                                                    <font color="#073763">5200 North Lake Road, Merced, California 95343
                                                        US</font>
                                                </span></div>
                                            <div><br></div>
                                            <div><img src="https://i.imgur.com/by1hWkP.png" alt="I2G Logo"
                                                    width="395" height="395" style="margin-right:0px"><br></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>