{% extends "admin/change_form.html" %}
{% load static %}

{% block after_field_sets %}
    {{ block.super }}
    <div id="route-redirect-conflict-status" role="status" class="help mt-4"></div>
{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    <script nonce="{{ request.csp_nonce }}">
        window.ROUTE_REDIRECT_ADMIN = {
            checkUrl: "{{ route_redirect_check_url|escapejs }}",
            redirectId: "{{ current_redirect_id|escapejs }}",
            sourcePath: "{{ current_redirect_source|escapejs }}",
        };
    </script>
    <script src="{% static 'cms/js/route-redirect-admin.js' %}?v=1"></script>
{% endblock %}
