{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'sheets/css/column-mapping-editor.css' %}">
    <link rel="stylesheet" href="{% static 'sheets/css/json-editors.css' %}">
{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    <script>
        window.COLUMN_MAPPING_INITIAL = {{ initial_mapping_json|safe }};
        window.FK_CONFIG_INITIAL = {{ initial_fk_config_json|safe }};
        window.LOOKUP_FIELDS_INITIAL = {{ initial_lookup_fields_json|safe }};
        window.MODEL_FIELDS_URL = "{{ model_fields_url|escapejs }}";
    </script>
    <script src="{% static 'sheets/js/column-mapping-editor.js' %}?v=1"></script>
    <script src="{% static 'sheets/js/fk-config-editor.js' %}?v=1"></script>
    <script src="{% static 'sheets/js/lookup-fields-editor.js' %}?v=1"></script>
{% endblock %}
