{% macro styles() %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',filename='css/css-css_xE-rWrJf-fncB6ztZfd2huxqgxu4WO-qwma6Xer30m4.css') }}"
          media="all">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',filename='css/css-css_YXH4gT2-px48IhryM34bm9BPKIdC7FXgfCpSr9PWyTE.css') }}"
          media="all">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',filename='css/css-css_ikO0Dxm7cLx8sij8aCz93A0aaPm7Vn5LlfEi4H4knHY.css') }}"
          media="screen">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',filename='css/css-css_ubzgGJ35RgxN1IJggmIbJzwcE6NtKXa-uNCjJJK6XVo.css') }}"
          media="all">
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static',filename='css/css-css_NYiFQQOJ7xKN-UNsYwHSy9B0FCXYVU-ZlvGwkwzENhA.css') }}"
          media="all">
    <style>
        /* Remove the fixed page-width constraint so content spans the full viewport.
           Overrides Bootstrap 2's fixed `.container { width: 940px/1170px }` at every breakpoint. */
        .container,
        .navbar .container,
        .navbar-static-top .container,
        .navbar-fixed-top .container,
        .navbar-fixed-bottom .container {
            width: 100% !important;
            max-width: 100% !important;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
{% endmacro %}
