@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-color: #f9f9f9;
}

/* Root containers - Adjusted to fit template structure */
#root, .main-content, .mc-content {
  min-height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
}

/* Ensure React content wrapper doesn't overflow container */
.content-wrapper {
  width: 100%;
}
